version: 2.1
jobs:
  build:
    docker:
      - image: mcr.microsoft.com/dotnet/sdk:7.0
    steps:
      - checkout
      - run:
          name: "Install Dependencies for Tests"
          command: dotnet restore Tests/Tests.csproj
      - run:
          name: "Build Tests project"
          command: dotnet build Tests/Tests.csproj -c Release
      - run:
          name: "Run Acceptance Tests"
          command: dotnet test Web/Web.csproj -c Release
          
  deploy:
    docker:
      - image: digitalocean/doctl:latest
    steps:
      - run: 
          name: "Trigger Deployment"
          command: digitalocean/doctl apps create-deployment ${CIRCLECI_APP_ID} -t ${CIRCLECI_ACCESS_TOKEN}
workflows:
  build_and_deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
#          filters:
#            branches:
#              only: master
          
